#madison\-wi\-715\-571\-0737\-haclark30gmailcom,
#madison\-wi\-715\-571\-0737\-haclark30gmail\.com {
    text-align: center;
}

#harrison\-clark {
    text-align: center;
    border-bottom-style: none;
    padding-bottom: 0;
}

body {
	font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
	font-size: 14px;
	padding: 0 12px;
	line-height: 22px;
	word-wrap: break-word;
}

hr {
	border: 0;
	height: 2px;
	border-bottom: 2px solid;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

h1, h2, h3 {
	font-weight: normal;
}